<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/styles/main.css" />
  <title>Traveling</title>
</head>

<body>
  <header class="header">
    <nav class="header__nav">
        <a href="#">Помощь</a>
        <a href="#">Контакты</a>
        <a href="#">Отзывы</a>
    </nav>

    <h1 class="header__title">Открой для себя <br>новый взгляд</h1>
    <div class="header__description">Сайт для путешествий и погоды</div>
    <a class="header__button" href="#">Узнать больше</a>
    
    <div class="header__popular-gids">
      <div class="popular-gids__title">Популярные экскурсии</div>
      <div class="popular-gids">
        {% for i in range(0,3) %}
          <a class="card" href="#">
            <img class="card__background" src="../{{excursions[i].img_path}}">
            <div class="card__name">{{excursions[i].title_text}}</div>
            <img class='arrow' src="../assets/images/Arrow.png" alt="Стрелка">
          </a>
        {% endfor %}
      </div>
    </div>

  </header>

  <main class="main">
    <div class="container">
      <div class="main__menu-row">
        <div class="main__weather">
          <img src="../assets/images/back_weather.png" alt="Картинка погоды">
          <div class="weather__title weather__element">
            <img src="../assets/images/sun.svg">
            Погода на сегодня
          </div>
          <div class="weather__town weather__element">{{weather.city}}</div>
          <div class="weather__time weather__element">Сейчас
            <span id="clock"></span>
            </div>
          <div class="weather__condition weather__element">
            <img src="../assets/images/cloud.png">
            {{weather.condition}}
          </div>
          <div class="weather__humidity weather__element">
            <img src="../assets/images/влажность.png">
            {{weather.humidity}}%
          </div>
          <div class="weather__wind-speed weather__element">
            <img src="../assets/images/wind.png">
            {{weather.wind_speed}} м/c, {{weather.wind_dir}}
          </div>
          <div class="weather__temp weather__element">+{{weather.temp}}°</div>
        </div>

        <div class="main__description">
          <span>Добро пожаловать на наш сайт,</span> посвящённый путешествиям и погоде! 
          Здесь вы найдёте всё необходимое для планирования идеального путешествия, 
          от актуальных погодных условий до подробных гидов по интересным местам.
        </div>
      </div>

      <div class="city__title">{{weather.city}}</div>

      <div class="main__tours">
        {% for excursion in excursions %}
          <div class="tour">
            <img src="../{{excursion.img_path}}">
            <div class="tour__title">{{excursion.title_text}}</div>
            <div class="tour__text">
              {{excursion.description}}
            </div>

            <div class="tour__metods-movements">
              <div class="transport">
                {{excursion.movement}}
              </div>
              <div class="tour__count-people">
                #
              </div>
              <div class="tour__time">
                {{excursion.duration}}
              </div>
            </div>
            
            <div class="tour__data tour_element">
              {{excursion.datetime}}
            </div>

            <div class="tour__price tour_element">
              {{excursion.payment}}
            </div>

            <div class="tour__price-type tour_element">
              #
            </div>
          </div>
        {% endfor %}
      </div>
      
      <div class="button-wrapper">
        <button class="button__show-more">Показать ещё</button>
      </div>
    </div>
  </main>

  <footer>
    <div class="footer__wrapper">
      <div class="container">
        <div class="mailing__row">
          <div class="mailing__title">Подпишитесь на наши новости</div>
          <input type="email" placeholder="Адрес электронной почти" class="mailing__input-form">
          <button type="submit" class="mailing__button">Подписаться</button>
        </div>
        <div class="contact-information__row">
          <div class="contact__card">

            <div class="contact__title contact__element">
              Контакты
            </div>
            <div class="contact__mail contact__element">
              <img src="../assets/images/gmail_icon.png" alt="Лого почты">
              excursion@gmail.com
            </div>
            <div class="contact__tg contact__element">
              <img src="../assets/images/tg_icon.png" alt="Лого телеграмма">
              @Travelt123_bot
            </div>
            <div class="contact__github contact__element">
              <img src="../assets/images/git_icon.png" alt="Лого github">
              <a href="https://github.com/Denischerov2312/travelling_site">github.com/Denischerov2312/travelling_site</a>
            </div>
          </div>
          <div class="contact__card">
            <div class="school__title">
              <img src="../assets/images/3st_place_icon.png" alt="Лого школы">
              <span>Третье место</span>
            </div>
            <div class="school_text">
              Данный проект реализован для школы “Третье место” в обучающих целях 
            </div>
          </div>
          <div class="contact__card">
            <div class="site__title">
              <img src="../assets/images/sourse_site_icon.png" alt="Логотип сайта-источника">
            </div>
            <div class="site__text">
              Вся информация об экскурсиях и ценах взята с сайта 
              <a href="https://experience.tripster.ru">experience.tripster.ru</a>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </footer>
  <script src="../scripts/show_more.js"></script>
  <script src="../scripts/real_time.js"></script>
</body>

</html>
