@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url("normalize.css");

/* html {
    font-size: 18px;
} */

body {
    font-family: "Play", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1677px;
    margin: 0px auto;
}
.header__description {
    font-size: 25px;
    position: absolute;
    font-weight: normal;
    left: 120px;
    top: 390px;
}

.header__button {
    position: absolute;
    color: white;
    background-color: #F96A3D;
    padding: 26px 55px;
    border-radius: 38px;
    font-weight: bold;
    font-size: 20px;
    left: 123px;
    top: 489px;
    transition: all 0.5s ease;
}

.header__button:hover {
    transform: scale(1.05);
}

.card {
    transition: all 0.5s ease;
}

.card:hover {
    transform: scale(1.05);
    filter: brightness(85%);
}
.header__title {
    font-size: 64px;
    text-align: left;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    line-height: normal;
    position: absolute;
    left: 120px;
    top: 120px;
}


.popular-gids__title {
    position: relative;
    font-weight: bold;
    font-size: 40px;
}


.header {
    background-image: url('../images/background.png');
    position: relative;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
}


.header a {
    text-decoration: none;
}

.header__nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 160px;
    right: 300px;
    position: absolute;
    width: 405px;

}


.header__popular-gids {
    position: absolute;
    /* top: 686px; */
    left: 842px;
    bottom: 87px;

}

.popular-gids {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 45px;
    gap: 59px;
}

.card {
    position: relative;
}

.card__name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.card__name a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.arrow {
    position: absolute;
    right: 16px;
    bottom: 35px;
}

.main {
    width: 100%;
}

.main__menu-row {
    display: flex;
    padding: 60px 0 60px 0;
    align-items: center;
}

.main__description {
    width: 922px;
    font-size: 30px;
    padding: 0 0 0 50px;
    font-family: "Playfair Display", serif;
}

.main__description span {
    font-weight: bold;

}

.main__weather {
    position: relative;
}

.main__weather img {
    max-width: 100%;
}

.weather__element {
    position: absolute;
    color: white;
}

.weather__element img {
    position: relative;
    top: 12px;
}

.weather__title {
    left: 60px;
    bottom: 338px;
    font-size: 25px;
    font-weight: bold;
}

.weather__town {
    left: 60px;
    bottom: 300px;
    font-size: 16px;
}

.weather__time {
    left: 61px;
    bottom: 230px;
    font-size: 25px;
}

.weather__time span {
    display: block;
}

.weather__condition {
    left: 65px;
    bottom: 127px;
    font-size: 30px;
    font-weight: bold;
}

.weather__humidity {
    left: 57px;
    bottom: 83px;
    font-size: 25px;
    font-weight: bold;
}

.weather__wind-speed{
    left: 65px;
    bottom: 46px;
    font-size: 25px;
    font-weight: bold;
}

.weather__temp {
    left: 526px;
    bottom: 30px;
    font-size: 50px;
    font-weight: bold;
}

.city__title {
    font-family: "Playfair Display", serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 30px;
}

.main__tours {
    display: flex;
    flex-wrap: wrap;
    gap: 59px;
    margin-bottom: 40px;
}

.tour {
    display: block;
    width: 288px;
    font-size: 16px;
}

.tour__title {
    font-weight: bold;
    font-size: 25px;
}

.tour__price {
    font-weight: bold;
    font-size: 25px;
}

.tour__text {
    margin-top: 23px;
}

.tour__metods-movements {
    display: block;
    margin-top: 16px;
}

.tour_element {
    margin-top: 16px;
}

.tour:nth-child(n + 11) {
    display: none;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.button__show-more {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 13px;
    color: #828282;
    border-radius: 10px;
    border: 2px solid #F96A3D;
    margin-bottom: 40px;
    width: 200px;
    transition: all 0.5s ease;
}

.button__show-more:hover {
    transform: scale(1.05);
    filter: brightness(90%);
}

.button__show-more:active {
    filter: brightness(80%);
}

.tour.is-visible {
    display: block;
}

/* Подвал сайта */

.footer__wrapper {
    border-top: 1px solid #959595;
    background: linear-gradient(180deg, #FFFFFF 66.5%, #685D55 256.54%);
}

.mailing__row {
    display: flex;
    padding: 25px 0;
    justify-content:center; 
    align-items: center;
}

.mailing__title {
    font-size: 20px;
    font-weight: bold;
}

.mailing__input-form {
    border-radius: 10px;
    border: 2px solid #999999;
    width: 527px;
    height: 50px;
    font-size: 20px;
    margin-left: 25px;
    margin-right: 15px;
    padding-left: 10px;
}

.mailing__button {
    padding: 11px 36px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}

.contact-information__row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 35px;
}

.contact__card {
    display: flex;
    flex-direction: column;
}

.contact__element {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact__element img {
    position: relative;
    top: 11px;
}

.contact__title {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    padding-left: 65px;
    margin-bottom: 0px;
}

/* Школа */

.school__title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.school__title span {
    padding-left: 6px;
} 

.school_text {
    font-size: 20px;
    width: 390px;
    padding-top: 17px;
    text-align: center;
}

/* Сайт источника */

.site__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site__text {
    font-size: 20px;
    text-align: center;
    width: 390px;
    padding-top: 10px;
}

.site__text a {
    text-decoration: none;
}